body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

ul {
    padding-left: 0;
}

/*----Header----*/

/*----Começo da navbar----*/
#trapezioRetanguloDaNavbar {
    height: 0;
    width: 300px;
    border-bottom: 130px solid #2C4E7E;
    border-right: 80px solid transparent;

}

@media (max-width: 380px) {
    #trapezioRetanguloDaNavbar {
        width: 250px;

    }
}

@media (max-width: 280px) {
    #trapezioRetanguloDaNavbar {
        width: 200px;

    }
}


#trapezioRetanguloDaNavbar a {
    display: flex;
    justify-content: center;
}

#imagemNavBar {
    margin-top: 12px;
    width: 110px;
    height: 100px;
}

#menuToggle {
    background-color: #f2f2f2;
    color: #364b6e;
}

#linksDoMenu {
    margin-left: 50px;
}

@media only screen and (min-width: 992px) and (max-width: 1067px) {
    #linksDoMenu {
        margin-left: 0;
    }

}

@media (max-width: 990px) or (max-height: 543px) {
    #linksDoMenu {
        gap: 0;
        margin-left: 0;
    }
}

#linksDoMenu li a {
    color: #364b6e;
    font-size: 19px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}

#linksDoMenu li a:hover {
    border-bottom: 3px solid #4B86F7;
    padding-bottom: 4px;
}


#iconsEButtonNavbar {
    margin-left: 56px;
}

@media only screen and (min-width: 992px) and (max-width: 1018px) {
    #iconsEButtonNavbar {
        margin-left: 26px;
    }

}

@media (max-width: 991px) or (max-height: 543px) {
    #iconsEButtonNavbar {
        margin-left: 0;
    }
}

/*classes dos icons whatsapp, facebook, instagram e email*/
.fab,
.far {
    color: #364b6e;
}

.fab:hover,
.far:hover {
    height: 32px;
    font-size: 19px;
    color: #4B86F7;
}

#buttonMenuOrcamento {
    margin-left: 24px;
}

li #buttonMenuOrcamento {
    align-items: center;
    border-radius: 20px;
    height: 30px;
    width: 120px;
    background-color: #4B86F7;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s;
    border: 0;
}

#buttonMenuOrcamento:hover {
    background-color: #357ABD;
}

@media (max-width: 991px) or (max-height: 543px) {
    #buttonMenuOrcamento {
        margin-left: 0;
    }
}

#whatsappIcon {
    margin-left: 24px;
}

@media (max-width: 991px) or (max-height: 543px) {
    #whatsappIcon {
        margin-left: 0;
    }
}

/*----Fim da navbar----*/
/*-------------------------------------------------------------------------*/

/*----Começo da section 1----*/


#backgroundContainerId {
    height: 100vh;
    background-image: url('../img/backgroundSection1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#tituloDaSection1 {
    text-align: center;
    font-size: 46px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    text-transform: uppercase;

}

#buttonSectionSolicitarProposta {
    align-items: center;
    border-radius: 20px;
    height: 39px;
    width: 180px;
    background-color: #4B86F7;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s;
    border: 0;
    margin: 45px;
}

#buttonSectionSolicitarProposta:hover {
    background-color: #357ABD;
}

.iconsDaSection1 {
    display: flex;
    gap: 9px;
}

.iconsDaSection1 li {
    list-style: none;
    text-align: center;
}

.iconsDaSection1 i {
    color: #364b6e;
    font-size: 36px;
    background-color: #ffffff;
    border: 3px solid #A6BADF;
    border-radius: 50%;
    padding: 16px 20px;
}

.iconsDaSection1 p {
    font-size: 12px;
    margin-top: 10px;
    background-color: #364b6e;
    border-radius: 6px;
    width: 121px;
    color: #fff;
}

@media only screen and (min-width: 549px) and (max-width: 768px) {
    .iconsDaSection1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

}

@media only screen and (min-width: 320px) and (max-width: 548px) {
    .iconsDaSection1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

    }
}

@media only screen and (min-width: 200px) and (max-width: 319px) {
    .iconsDaSection1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

    }
}

/*----Fim da section 1----*/
/*--------------------------------------------------------------------------*/

/*----Começo da section 2----*/

#containerDaSection2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 1000px;
    margin: auto;
    gap: 36px;
}

#descriptionDaEmpresa {
    margin: auto;
}

#articleSobreAEmpresa {
    padding-top: 56px;
}

#tituloSobreEmpresa {
    font-size: larger;
    font-weight: bold;
    text-transform: uppercase;
    color: #4B87F9;
}

#articleSobreAEmpresa p {
    color: #3B527B;
}

#articleMissaoDaEmpresa {
    display: flex;
    gap: 20px;
    background-color: #E8EFFF;
    color: #3B527B;
}

#divDoIcon {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #4B87F9;
}

#divDoIcon p {
    font-weight: bold;
    text-transform: uppercase;
    font-size: small;
    margin: 0;
}

#divDoIcon i {
    font-size: 30px;
}

#descriptionDaMissao {
    font-size: small;
}

#escritaDoButtonCollapse {
    font-size: smaller;

}


#containerImagensSection2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}


.imgDaSection2 {
    width: 330px;
    height: auto;

}

#imgSection22 {
    box-shadow: 40px 40px 5px #4B87F9;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    #containerDaSection2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 20px;
    }

}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    #containerDaSection2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

    }

    #imgSection22 {
        box-shadow: 15px 15px 5px #4B87F9;
    }
}

@media only screen and (min-width: 200px) and (max-width: 480px) {
    #containerDaSection2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

    }

    .imgDaSection2 {
        width: 250px;
        height: auto;

    }

    #imgSection22 {
        box-shadow: 15px 15px 5px #4B87F9;
    }
}


/*----Fim da section 2----*/
/*-------------------------------------------------------------------------*/

/*----Começo da section 3----*/


#containerDaSection3 {
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    width: 100%;

}


@media only screen and (min-width: 200px) and (max-width: 480px) {
    #containerDaSection3 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

    }
}


@media only screen and (min-width: 481px) and (max-width: 768px) {
    #containerDaSection3 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

    }
}


@media only screen and (min-width: 769px) and (max-width: 1268px) {
    #containerDaSection3 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

    }
}



#divDoNossosServicos {
    width: 100%;
    height: 600px;
}

#tituloDoNossoServicos {
    text-align: center;
    padding: 40px;
    color: #4b86f7;
    text-transform: uppercase;
    font-weight: bolder;
}

.divDosIcons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


#iconsDaSection3 {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding-left: 0;
    list-style: none;
    text-align: center;
    width: 50%;

}

#iconsDaSection3 li {
    padding: 15px;
    list-style: none;
    width: 50%;
    margin-bottom: 20px;
}

#iconsDaSection3 i {

    color: #364b6e;
    font-size: 67px;
    background-color: #ffffff;
    border: 3px solid #A6BADF;
    border-radius: 50%;
    padding: 20px 29px;
}

#iconsDaSection3 p {
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
    background-color: #364b6e;
    border-radius: 6px;
    color: #fff;
}

@media only screen and (min-width: 523px) and (max-width: 734px) {
    #iconsDaSection3 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

    }

    #iconsDaSection3 li {
        padding: 10px;
        list-style: none;
        width: 50%;
        margin-bottom: 20px;
    }

    #iconsDaSection3 i {

        color: #364b6e;
        font-size: 47px;
        background-color: #ffffff;
        border: 3px solid #A6BADF;
        border-radius: 50%;
        padding: 20px 29px;
    }

    #iconsDaSection3 p {
        text-align: center;
        font-size: 10px;
        margin-top: 10px;
        background-color: #364b6e;
        border-radius: 6px;
        color: #fff;
    }


}

@media only screen and (min-width: 434px) and (max-width: 522px) {
    #containerDaSection3 {
        margin-top: 46px;
    }

    #iconsDaSection3 {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding-left: 0;
        list-style: none;
        text-align: center;
        width: 60%;

    }

    #iconsDaSection3 li {
        padding: 5px;
        list-style: none;
        width: 50%;
        margin-bottom: 20px;
    }

    #iconsDaSection3 i {

        color: #364b6e;
        font-size: 36px;
        background-color: #ffffff;
        border: 3px solid #A6BADF;
        border-radius: 50%;
        padding: 20px 29px;
    }

    #iconsDaSection3 p {
        text-align: center;
        font-size: 12px;
        margin-top: 10px;
        background-color: #364b6e;
        border-radius: 6px;
        color: #fff;
    }


}

@media only screen and (min-width: 200px) and (max-width: 433px) {
    #containerDaSection3 {
        margin-top: 46px;
    }

    #iconsDaSection3 {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding-left: 0;
        list-style: none;
        text-align: center;
        width: 80%;

    }

    #iconsDaSection3 li {
        padding: 5px;
        list-style: none;
        width: 50%;
        margin-bottom: 20px;
    }

    #iconsDaSection3 i {

        color: #364b6e;
        font-size: 36px;
        background-color: #ffffff;
        border: 3px solid #A6BADF;
        border-radius: 50%;
        padding: 14px 18px;
    }

    #iconsDaSection3 p {
        text-align: center;
        font-size: 12px;
        margin-top: 0;
        background-color: #364b6e;
        border-radius: 6px;
        color: #fff;
    }

    .imgDaSection3 {
        width: 100%;
        height: 300px;
    }


}

#figureDaImagemDaSection3 {
    width: 100%;
    margin: 0;
}

.imgDaSection3 {
    width: 100%;
    height: 600px;
}


/*----Fim da section 3----*/
/*--------------------------------------------------------------------------*/

/*----Começo do formulário----*/
#containerDoFormulario {
    width: 90%;
    margin: auto;
    padding-top: 50px;
}

.tituloDoFormulario {
    color: #4B86F7;
    font-size: 26px;
    text-transform: uppercase;
    font-weight: bold;
}

.formulario {

    width: 100%;
    text-align: center;
    margin: 20px auto;

}

.formulario input,
form textarea {

    border: 0;
    outline: 0;
    padding: 0.8em;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    display: block;
    width: 100%;
    margin-top: 16px;
    font-size: 16px;
    color: #000000;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 12px 12px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
    resize: none;
}

.formulario input:focus,
.formulario textarea:focus {

    color: #4b86f7;
    -moz-box-shadow: 0 0px 2px #4b86f7 !important;
    -webkit-box-shadow: 0 0px 2px #4b86f7 !important;
    box-shadow: 0 0px 2px #4b86f7 !important;

}

.formulario textarea {

    height: 174px;

}

.metade {

    float: left;
    width: 48%;
    margin-bottom: 1em;

}

.right {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.left {
    margin-right: 2%;
}



#buttonDoFormulario {
    align-self: flex-end;
    width: 160px;
    border-radius: 0;
    color: #fff;
    background: #364b6e;
    cursor: pointer;
    transition: 0.5s;
    text-transform: uppercase;
    font-size: small;

}

#buttonDoFormulario:hover {

    background-color: #4b86f7;
    -moz-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
    -webkit-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
    box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);

}

@media (max-width: 768px) {

    .metade {
        width: 100%;
        float: none;
        margin-bottom: 0;
    }

}

/*----Fim do formulário----*/

/*--------------------------------------------------------------------------*/

/*----Começo do footer----*/
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 100%;
    height: 150px;
    background-color: #f2f2f2;
}

#divDaDescriptionFooter {
    padding-top: 20px;
}

#divDaDescriptionFooter p {
    text-transform: uppercase;
    color: #364b6e;
}

/*----Fim do footer----*/

/*----Classe Hidden sendo usado pelo JavaScript----*/

.hidden {
    opacity: 0;
    filter: blur(15px);
    transform: translateX(-100%);
    transition: all 2s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: all 2s;
}

#tituloDaSection1 {
    transition-delay: 200ms;

}


#containerImagensSection2 :nth-child(2) {
    transition-delay: 900ms;
}

#iconsDaSection3 :nth-child(2) {
    transition-delay: 400ms;
}

#iconsDaSection3 :nth-child(3) {
    transition-delay: 1000ms;
}

#iconsDaSection3 :nth-child(4) {
    transition-delay: 1400ms;
}

.left :nth-child(2) {
    transition-delay: 200ms;
}

.left :nth-child(3) {
    transition-delay: 400ms;
}

.right :nth-child(1) {
    transition-delay: 600ms;
}